```js exec
import Hint from '../../components/Hint.svelte';
import Code from '../../components/Code.svelte';
import LoadingSpinner from '../../geizhals-components/LoadingSpinner.svelte';
```

# Loading Spinner

## Small Loading Spinner

Usage (non-exhaustive list):
- Variants page while loading offers
- Inline image gallery

<LoadingSpinner size="small"/>

## Large Loading Spinner

Usage (non-exhaustive list):
- Price Alert dialog
- Fullscreen image gallery

<LoadingSpinner size="large"/>